@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&family=Noto+Sans+SC&family=Noto+Sans+TC&display=swap');
// button
.refresh-btn {
  background: #262E49;
  &:hover {
    background: #525982;
  }
  &:active {
    background: #525982;
  }
  +.disable {
    background: #CCCCCC;
  }
}
// color
.text-gray-01 {
  color: #BFBFBF;
}

// bg
.bg-gray-02 {
  background-color: #DEE0E4;
}

.bg-green-01 {
  background-color: #EDF7F0;
}
.bg-green-02 {
  background-color: #84CB98;
}
.bg-purple-01 {
  background-color: #EDEFF9;
}
.bg-purple-02 {
  background-color: #8894D8;
}
.bg-orange-01 {
  background-color: #DFA175;
}
// border-color
.border-green-01 {
  border-color: #EDF7F0;
}
.border-green-02 {
  border-color: #84CB98;
}
.border-purple-01 {
  border-color: #EDEFF9;
}
.border-purple-02 {
  border-color: #8894D8;
}
.border-orange-01 {
  border-color: #DFA175;
}
